<h1 align="center">Hey, Read About our Rings</h1>

<% @reviews_list = @reviews.uniq %>

<% @reviews_list.each do |review| %>

<h3><%= review.location %></h3>
<h5><%= review.date %></h5>
<p><%= review.review %></p>
<p>---submitted by <%=review.user.name%></p>
<% if logged_in? && review.user.name == current_user.name %>
<a href="reviews/<%=review.id%>/edit">Edit</a>
<form method="post" action="/reviews/<%=review.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Review">
</form>
<%end%>
<hr>
<%end%>
</ul>
