<h1 align="center">Hey, Read About our Rings</h1>

<% @reviews_list = @reviews.uniq %>

<% @reviews_list.each do |review| %>

<h2><%= review.location %></h2>
<h5><%= review.date %></h5>
<h3><%= review.review %></h3>
<p>---submitted by <%=review.user.name%></p>
<% if review.user.name == current_user.name %>
<a href="reviews/<%=review.id%>/edit">Edit</a>
<%end%>
<hr>
<%end%>
</ul>
